body{
	background-color: grey; 
}

.cool{
	visibility: hidden;
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 1s; 
}

.thats.cool{
	visibility: visible;
	background-color: red;
	width: 200px;
	height: 200px;
}